nav {
	background: #191919;
}

.filter-buttons button {
	margin: 0 0.5rem;
}

h2 {
	color: #fff;
	margin: 1rem 0;
}

.item {
	padding: 0.5rem 1rem;
	background: #e5d884;
	margin: 0.5rem;
	color: #000;
	height: 200px;
}

.btn-add {
	background: #b71c1c;
	border-color: #b71c1c;
	color: #fff;
}

.btn-add:hover {
	background: #c62828;
	border-color: #c62828;
	color: #fff;
}

.cart-heading {
	display: flex;
	justify-content: space-between;
}

body {
	background: #111;
}
